*{
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
<<<<<<< HEAD
    color: rgb(43, 226, 168);
=======
    color: rgb(226, 43, 208);
>>>>>>> cabecera
}